.class {
	text-align: center;
    text-align: left;
	display: block;
}

#id {
    display: none;
}

.class {
    display: inline;
    shit: ok;
  display: 5;
  --var: blue;
}

color {
    color: #0ff;
    background-color: #6A0F23;
    color: zbilou06;
    font-size: 16px
}